<%- include('../partials/header') %> <%- include('../partials/nav') %>

<body>
  <section class="col-lg-6 col-md-6 text-center mx-auto">
    <h1 class="display-3 text-dark fw-bold"><%= display %></h1>
  </section>

  <div class="row row-cols-2 mx-2 d-flex justify-content-center mb-2">
    <!-- ForEach loop for every data in the database. -->

    <% data.sort((a, b) => b.date - a.date).forEach((info)=>{ %>
      <div class="card mb-3 mx-2 shadow rounded-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/image/<%= info.img %>"
              class="img-fluid rounded-5 p-1 mb-1"
              alt="Image of Blog"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body mb-2">
              <h5 class="card-title text-center text-capitalize "><%= info.title %></h5>
              <p class="card-text fade-in-text text-truncate" >
                <%= info.description %>
              </p>
              <p class="card-text mb-2">
                <small class="text-body-secondary"><%= info.date.toLocaleString() %></small>
              </p>
            </div>
            <div class="card-footer d-flex justify-content-around">
              <a href="/fullview/<%= info._id %>" class="text-success" title="View Blog"><i class="gg-eye-alt"></i></a>
              <a href="/edit/<%= info._id %>" title="Edit Blog"><i class="gg-pen"></i></a>
              <a href="" class="text-danger fs-1" title="Delete Blog"><i class="gg-trash"></i></a>
            </div>
          </div>
        </div>
      </div>

    <% }) %>
  </div>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
</body>

<%- include('../partials/footer') %>
